body {
    margin-top: 40px;
    background: #222222;
    color: #fff;
    font-family: Helvetica;
    font-weight: bold;
    text-align:center;
}

h1 {
    letter-spacing: 0.1em;
    color: #f1f1f1
}

.main {
    margin: 0 auto;
}

#game {
    margin: 0 auto;
    padding: 0;
    margin-bottom: 20px;
}

#game > li {
    list-style: none;
    float: left;
    overflow: hidden;
    text-decoration:none;
    width: 80px;
    height: 80px;
    background: #f1f1f1;
    border: 1px solid #ccc;
    border-right: 1px solid #fff;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    margin: 4px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 20px;
    padding-top: 19px;
    font-size: 50px;
}

.x {
    color: #4c91d7;
}

.o {
    color: #51d33c;
}

#game > li:hover {
    background: #f9f9f9;
}

#game > li:active {
    border: 0;
}